form{
    background-color: lightslategray;
    width: 50% ;
    margin: auto;
    padding:50px;
    border-radius: 20px ;
    box-shadow: 10px 10px 18px 10px lightslategray ;
}
legend{
    text-align: center;
    font-size: 30px ;
    font-weight: bolder ;
}
input[type=text],input[type=email],input[type=password]{
    width: 100%;
    height: 40px ;
    border-radius: 5px ;
    margin-top: 20px ;
    padding: 10px ;
}
button{
    height: 40px;
    width: 100px ;
    border-radius: 5px ;
    background-color: black;
    color: #00a494;
    margin-left: 150px ;
}
button:hover{
    background-color: whitesmoke;
}
